.btn {
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px gray;
    color: #5A5956;
    margin: 4px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #74DEFA;
}

.btn-secondary {
    background-color: #83F673;
}

.btn-submit {
    background-color: #FEE472;
}