.static-map {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 1px;
    margin: 0 25px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form > * {
    margin: 10px 0px;
}

.toilet-info {
    width: 300px;
    margin: 0 25px;
}

.toilet-info h1 {
    font-size: 40px;
    margin: 10px 0;
    text-transform: capitalize;
}

.toilet-info p {
    font-size: 20px;
}

.comment-textarea {
    height: 300px;
    width: 300px;
}

.comment-textarea:focus { 
    background: white !important;
}

.ratings > label > span {
    margin-right: 3px;
}

.ratings > h2 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.comments-list {
    display: flex;
    flex-direction: column;
}

.toilet-comment-item {
    border-bottom: 1px solid black;
    padding: 7px;
}
.toilet-comment-item h1 {
    font-size: 20px;
}
.toilet-comment-item p {
    background: white;
    padding: 3px;
}
.toilet-comment-item span {

}


