.static-map {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 1px;
    margin: 0 25px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form > * {
    margin: 10px 0px;
}

.toilet-info {
    width: 40%;
    min-width: 350px;
    margin: 0 25px;
}

.toilet-info h1 {
    font-size: 40px;
    margin: 10px 0;
    text-transform: capitalize;
}

.toilet-info p {
    font-size: 20px;
}

.comment-textarea {
    height: 300px;
    width: 100%;
    min-width: 340px;
}

.comment-textarea:focus { 
    background: white !important;
}

.ratings > label > span {
    margin-right: 3px;
}

.ratings > h2 {
    font-size: 20px;
    margin-bottom: 10px;   
}

.comments-list {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.toilet-comment-item {
    margin-top: 10px;
    padding: 10px;
    background: white;
    display: flex;
    width: 100%;
}
.toilet-comment-item h1 {
    font-size: 14px;
    padding: 10px;
    margin-right: 6px; 
}

.toilet-comment-item p {
    padding: 3px;
    overflow-wrap: break-word;
}

.toilet-comment-item span {

}


