.big-map {
    height: 600px;
    width: 70%;
}

.all-content {
    display: flex;
}

.toilet-index {
    display: flex;
    flex-direction: column;
}

.toilet-create-buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}