.input-text {
  width: 220px;
  height: 15px;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.login-errors {
  color: rgb(211, 3, 3);
  font-family: helvetica;
  font-size: 14px;
  margin: 0;
  padding-left: 22px;
  margin-bottom: -10px;
}

.sesh-form {
  display: flex;
  height: 80%;
  width: 90%;
  border: 1px solid black;
  padding: 20px;
  font-family: helvetica;
  flex-direction: column;
}

.signup-form {
  display: flex;
  height: 80%;
  width: 75%;
  border: 1px solid black;
  padding: 20px;
  font-family: helvetica;
  flex-direction: column;
  background-color: white;
  margin-left: 40px;
}
